@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text: #ffffff;
	--primary-color: #0693E3;
	--secondary-color: #8ED1FC;
	--red: #a24a4a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--darker-color);
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;

	background-image: url(../assets/waves.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	min-height: 100svh;
  min-width: 100%;
}




