.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.eventLink{
    text-decoration: none;
    background: none;
    position: relative;
    width: 25%;
    margin: 2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 6px;
}

.singleEventLink {
    text-decoration: none;
    position: relative;
    width: 15%;
    height: 35vh;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    overflow: hidden;
    border-radius: 6px;
}

.singleEvent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.singleEventImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 6px;
}

.singleEventTitle {
    align-items: center;
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 0.2em;
    margin: 0;
    width: 100%;
    height: 15vh;
    border-radius: 6px;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    border-radius: 6px;

    .price, .date{
        font-size: 22px;
    }
}

.filterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;

}

.searchBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 5px;
}

.searchInput{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 10px;
    width: 20%;
    border: none;
    background-color: rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.45);
    border-radius: 4px;
}

.searchInputReal{
    background: none;
    border: none;
    width: 100%;
    height: 4vh;
    font-size: 18px;
}

.selectFilter{
    text-align: center;
    padding: 3px;
    margin: 10px;
    width: 90%;
    height: 5vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.45);
    border-radius: 4px;
    font-size: 18px;
}

.categoryBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.labelBox{
    display: flex;
    width: 90%;
}

.searchLabelBox{
    display: flex;
    width: 20%;
}

.icon{
    color: black;
    margin: 5px;
}

.label{
    color: black;
}


.singleEvent:hover .info {
    opacity: 1;
}

.singleEvent:hover .singleEventTitle {
    opacity: 0;
}

.h1{
    color: black;
    margin: 0;
    margin-top: 2rem;
}