.eventsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;

    .eventFestival,
    .eventSport,
    .eventConcert
    {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 35vh;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
        transition: all ease-in-out .25s;
        cursor: pointer;
    }

    .eventFestival:hover,
    .eventSport:hover,
    .eventConcert:hover{
        box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.6);
    }

}

.eventSport{
    background-image: url('../assets/sport.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.eventConcert{
    background-image: url('../assets/concert.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.eventFestival{
    background-image: url('../assets/festival.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.eventLink{
    text-decoration: none;
    background: none;
    position: relative;
    width: 25%;
    margin: 2rem;
    padding: 0.5rem;
    color: white;

}

.singleEventLink {
    text-decoration: none;
    position: relative;
    width: 15%;
    height: 25vh;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    overflow: hidden;
}

.singleEvent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.singleEventImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.singleEventTitle {
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 0.2em;
    margin: 0;
    width: 100%;
    height: 10vh;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;

    .price, .date{
        font-size: 22px;
    }
}

.singleEvent:hover .info {
    opacity: 1;
}

.singleEvent:hover .singleEventTitle {
    opacity: 0;
}

.h1{
    color: black;
    margin: 0;
    margin-top: 2rem;
}


